<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Test</title>
    <style>
		@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

		body {
			background-color: rgb(49, 49, 49);
		}

		#app {
			width: 100%;
			height: 100%;
			position: fixed;
			top: 0;
			left: 0;
			display: flex;
			align-items: center;
			align-content: center;
			justify-content: center;
			overflow: auto;
		}

        .correct {
            background-color: #d4edda;
            color: green;
        }
        .incorrect {
            background-color: #f8d7da;
			border: 2px dashed rgba(0, 0, 0, 0.39);
            color: red;
        }

		.container {
			width: 80%;
		}

		.btn-container {
			width: 100%;
			display: flex;
			flex-direction: column;
		}

		.result-text {
			font-family: "Play", serif;
			font-weight: 400;
			font-size: 30px;
			letter-spacing: 2px;
			font-style: normal;
			text-align: center;
			color: white;
			text-decoration: underline;
		}

		.question {
			font-family: "Play", serif;
			font-weight: 400;
			font-style: normal;
			text-align: center;
			color: white;
		}

		.answer-btn {
			height: 50px;
			margin-bottom: 10px;
			width: 100%;
			font-family: "Play", serif;
			font-weight: 400;
			font-size: 20px;
			background-color: white;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			box-shadow: 0 0 5px rgba(255, 255, 255, 0.56);
		}

		.result-container {
			height: 500px;
			overflow-y: auto;
		}

		.result-counter {
			font-family: "Play", serif;
			font-weight: 400;
			color: white;
			font-size: 20px;
			margin-bottom: 20px;
			border-bottom: 2px solid white;
		}

		.question-container {
			display: flex;
			flex-direction: column;
			background-color: white;
			font-family: "Play", serif;
			font-weight: 400;
			padding: 10px;
			margin-bottom: 20px;
		}

		.question-top {
			font-size: 25px;
		}

		.answer-top {
			padding-left: 20px;
		}

		@media (max-width: 768px) {
			.question {
				font-size: 25px;
			}

			.container {
				width: 90%;
			}
		}

		@media (max-width: 500px) {
			.question {
				font-size: 20px;
			}

			.answer-btn {
				height: fit-content;
				padding: 10px;
				font-size: 14px;
			}

			.container {
				width: 98%;
			}

			.result-container {
				height: 700px;
			}
		}
    </style>
</head>
<body>
    <div id="app">
		<div class="container">
			<div v-if="currentQuestionIndex < questions.length">
				<h1 class="question">{{ questions[currentQuestionIndex].question }}</h1>
				<div class="btn-container">
					<div v-for="(variant, index) in questions[currentQuestionIndex].variants" :key="index">
						<button class="answer-btn" @click="checkAnswer(variant, index)">
							{{ variant.text }}
						</button>
					</div>
				</div>
			</div>
			<div v-else>
				<div class="result-container">
					<h2 class="result-text">Результаты</h2>
					<div class="result-counter">
						<p style="color: lime;">Правильных ответов: {{ correctAnswers }}</p>
						<p style="color: red;">Неправильных ответов: {{ incorrectAnswers }}</p>
					</div>
					
					<h3 class="result-text">Подробные результаты:</h3>
					<div class="question-container" v-for="(result, index) in results" :key="index">
						<div class="question-top">
							<p><strong>Вопрос №{{index + 1}}:</strong> {{ result.question }}</p>
						</div>
						<div class="answer-top" v-for="(variant, idx) in result.variants" :key="idx" 
							 :class="{'correct': variant.isCorrect && variant.selected, 'incorrect': !variant.isCorrect && variant.selected}">
							<p>{{ variant.text }}</p>
						</div>
						<div class="answer-top correct">
							<p v-if="!result.isCorrect">Правильный ответ: <b>{{ result.correctAnswer }}</b></p>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>

    <script>
        const { createApp, ref } = Vue;

        createApp({
          setup() {
            // Список всех вопросов
            const allQuestions = ref(
				[
				  {
					"question": "Берілген сөйлем қай құжатта кездеседі. Менің арызымды қайта қарауыңызды өтінемін.",
					"variants": [
					  { "text": "өтініш", "isCorrect": true },
					  { "text": "өмірбаян", "isCorrect": false },
					  { "text": "арыз", "isCorrect": false },
					  { "text": "бұйрық", "isCorrect": false },
					  { "text": "шағым", "isCorrect": false }
					]
				  },
				  {
					"question": "Берілген сұрақтың жауабын көрсетіңіз. Шешен сөйлеу үшін не істеу керек?",
					"variants": [
					  { "text": "көркем шығарма оқу керек", "isCorrect": true },
					  { "text": "кино көру", "isCorrect": false },
					  { "text": "ән тыңдау керек", "isCorrect": false },
					  { "text": "жаргон сөздерді қолдану керек", "isCorrect": false },
					  { "text": "көше аралаған жөн", "isCorrect": false }
					]
				  },
				  {
					"question": "Сұраулық шылау арқылы жасалған сұраулы сөйлемді тап",
					"variants": [
					  { "text": "Күн бұлттанып тұр (ма)", "isCorrect": true },
					  { "text": "Жабырқа (ма), сабыр ет", "isCorrect": false },
					  { "text": "Сен одан қорық (па)", "isCorrect": false },
					  { "text": "Әй, сен көп асқақта (ма)", "isCorrect": false },
					  { "text": "Ғылым таппай мақтан (ба)", "isCorrect": false }
					]
				  },
				  {
					"question": "Бірігіп жазылуы дәстүрге айналған сын есімдер",
					"variants": [
					  { "text": "Дүниежүзілік, бүкілхалықтық", "isCorrect": true },
					  { "text": "Ақмола, некен-саяқ", "isCorrect": false },
					  { "text": "Ертеңгілік, жөн-жосық", "isCorrect": false },
					  { "text": "Ұзынды-қысқалы, ұрда-жық", "isCorrect": false },
					  { "text": "Жезқазған, Қорамсаұлы", "isCorrect": false }
					]
				  },
				  {
					"question": "Антоним қай сөз табынан жасалған, дұрысын көрсет. Өмірде қуаныш пен реніш қатар жүреді",
					"variants": [
					  { "text": "Зат есім.", "isCorrect": true },
					  { "text": "Есімдік", "isCorrect": false },
					  { "text": "Үстеу", "isCorrect": false },
					  { "text": "Сын есім", "isCorrect": false },
					  { "text": "Етістік", "isCorrect": false }
					]
				  },
				  {
					"question": "Бастауыш қызметін атқарып тұрған сан есімді көрсетіңіз",
					"variants": [
					  { "text": "Отыз – онға бөлінеді", "isCorrect": true },
					  { "text": "Сабақты екеулеп оқыды", "isCorrect": false },
					  { "text": "Қызыл шұбары – он үш", "isCorrect": false },
					  { "text": "Жүзден жүйрік, мыңнан тұлпар", "isCorrect": false },
					  { "text": "Сексенді екіге бөл", "isCorrect": false }
					]
				  },
				  {
					"question": "Бос орынаға тиісті қосымшаны қойыңыз. Орманның зақымдануына саңырауқұлақ... әсер етеді.",
					"variants": [
					  { "text": "тар", "isCorrect": true },
					  { "text": "тер", "isCorrect": false },
					  { "text": "лер", "isCorrect": false },
					  { "text": "дар", "isCorrect": false },
					  { "text": "лар", "isCorrect": false }
					]
				  },
				  {
					"question": "Термин сөздер дегеніміз...",
					"variants": [
					  { "text": "Ғылым мен техника, өндіріс саласында қолданылатын арнаулы заттар мен ұғымдардың атауы болатын сөздер", "isCorrect": true },
					  { "text": "Белгілі бір кәсіппен, шаруашылық саласымен шұғылданатын адамдар арасында қолданылатын, көпшілікке бірдей түсінікті бола бермейтін сөздер", "isCorrect": false },
					  { "text": "Сөйлемде атау с ептік тұлғасында тұрып, ойдың иесі олатын тұрлаулы   сөйлем мүшесін атаймыз.", "isCorrect": false },
					  { "text": "Тілдегі әр алуан деректі және дерексіз заттар мен ұғымдарды білдіретін зат есімдер аталады.", "isCorrect": false },
					  { "text": "Затты жеке-даралап атамай, оның жиынын тобымен атайтын зат есімдерді атайды.", "isCorrect": false }
					]
				  },
				  {
					"question": "Сөйлемді толықтырыңыз. Бас қала -",
					"variants": [
					  { "text": "Астана", "isCorrect": true },
					  { "text": "Өскемен", "isCorrect": false },
					  { "text": "Семей", "isCorrect": false },
					  { "text": "Көкшетау", "isCorrect": false },
					  { "text": "Тараз", "isCorrect": false }
					]
				  },
				  {
					"question": "«Жомарт» сөзіне сәйкес келетін тұрақты тіркес",
					"variants": [
					  { "text": "қолы ашық", "isCorrect": true },
					  { "text": "кең қолтық", "isCorrect": false },
					  { "text": "қолы кем", "isCorrect": false },
					  { "text": "ақ жүрек", "isCorrect": false },
					  { "text": "басы бос", "isCorrect": false }
					]
				  },
				  {
					"question": "Жатыс септігінің жалғау қатарын көрсетіңіз.",
					"variants": [
					  { "text": "-да/де, -та/те,-нда/нде", "isCorrect": true },
					  { "text": "-ма/ме, -ба/бе,-па/пе", "isCorrect": false },
					  { "text": "-ға/ге, -қа/ке,-на/не", "isCorrect": false },
					  { "text": "-а/е, -ла/ле,-та/те", "isCorrect": false },
					  { "text": "-ты/ті,-ны/ні, -ын/ін", "isCorrect": false }
					]
				  },
				  {
					"question": "Қазақстан экономикасы жағынан қандай мемлекет?",
					"variants": [
					  { "text": "дамушы мемлекет", "isCorrect": true },
					  { "text": "дамыған мемлекет", "isCorrect": false },
					  { "text": "дамытатын мемлекет", "isCorrect": false },
					  { "text": "дамитын мемлекет", "isCorrect": false },
					  { "text": "дамудағы елдер", "isCorrect": false }
					]
				  },
				  {
					"question": "Қазақтың көрнекті қоғам қайраткері, ұлт көшбасшысы ...",
					"variants": [
					  { "text": "А.Бөкейханов", "isCorrect": true },
					  { "text": "А.Ысқақов", "isCorrect": false },
					  { "text": "К.Аханов", "isCorrect": false },
					  { "text": "Н.Габдуллин", "isCorrect": false },
					  { "text": "Ә.Ермеков", "isCorrect": false }
					]
				  },
				  {
					"question": "Өз алдына тұрып мағына бере алатын, әрі қарай бөлшектеуге келмейтін сөздің түпкі мағыналы бөлшегі қалай аталады?",
					"variants": [
					  { "text": "Негізгі түбір", "isCorrect": true },
					  { "text": "Туынды түбір", "isCorrect": false },
					  { "text": "Туынды сөз", "isCorrect": false },
					  { "text": "Жалаң сөз", "isCorrect": false },
					  { "text": "Күрделі сөз", "isCorrect": false }
					]
				  },
				  {
					"question": "Әрі түбір, әрі мағынасын сақтап, дербес сөз ретінде жұмсалатын түбірлер қалай аталады?",
					"variants": [
					  { "text": "Тірі түбір", "isCorrect": true },
					  { "text": "Өлі түбір", "isCorrect": false },
					  { "text": "Жаңа түбір", "isCorrect": false },
					  { "text": "Көне түбір", "isCorrect": false },
					  { "text": "Негізгі түбір", "isCorrect": false }
					]
				  },



				  {
					"question": "Біріккен сөздер қайсы?",
					"variants": [
					  { "text": "Асқазан, ұлтабар", "isCorrect": true },
					  { "text": "Көзбе-көз, сөйлей-сөйлей", "isCorrect": false },
					  { "text": "Жаман-жәутік, кедей-кепшік", "isCorrect": false },
					  { "text": "Қара ала, ұзын бойлы", "isCorrect": false },
					  { "text": "Көгорай, қолғанат", "isCorrect": false }
					]
				  },
				  {
					"question": "Хан сөзіне қосымша жалғаңыз:",
					"variants": [
					  { "text": "-зада", "isCorrect": true },
					  { "text": "-хана", "isCorrect": false },
					  { "text": "-стан", "isCorrect": false },
					  { "text": "-паз", "isCorrect": false },
					  { "text": "–нама", "isCorrect": false }
					]
				  },
				  {
					"question": "Сын есімнің шырайын көрсетіңіз:  қап-қара",
					"variants": [
					  { "text": "күшейтпелі", "isCorrect": true },
					  { "text": "салыстырмалы", "isCorrect": false },
					  { "text": "жай", "isCorrect": false },
					  { "text": "есімше", "isCorrect": false },
					  { "text": "көсемше", "isCorrect": false }
					]
				  },
				  {
					"question": "Етістіктің түбірі бұйрық райдың қай жағы, түріне сәйкес келеді?",
					"variants": [
					  { "text": "ІІ-жақ, анайы түрі", "isCorrect": true },
					  { "text": "ІІ-жақ, көпше түрі", "isCorrect": false },
					  { "text": "ІІІ-жақ, жекеше түрі", "isCorrect": false },
					  { "text": "ІІІ-жақ, көпше түрі", "isCorrect": false },
					  { "text": "І-жақ, көпше түрі", "isCorrect": false }
					]
				  },
				  {
					"question": "Табыс септік жалғауы жасыран келген сөйлем қайсы?",
					"variants": [
					  { "text": "Ақша жиғанша, білім жина.", "isCorrect": true },
					  { "text": "Қалмақ жүрген жерде салмақ бар.", "isCorrect": false },
					  { "text": "Көп сөз өсекке жүк.", "isCorrect": false },
					  { "text": "Кісі бұйымы кіршіл.", "isCorrect": false },
					  { "text": "Көпке жүгірген адам құр қалады.", "isCorrect": false }
					]
				  },
				  {
					"question": "дейін шылау сөзді  қай септік?",
					"variants": [
					  { "text": "Барыс септік", "isCorrect": true },
					  { "text": "Көмектес септік", "isCorrect": false },
					  { "text": "Шығыс септік", "isCorrect": false },
					  { "text": "Жатыс септік", "isCorrect": false },
					  { "text": "Табыс септік", "isCorrect": false }
					]
				  },
				  {
					"question": "Топтау сан есімі қатысқан сөйлемді көрсетіңіз.",
					"variants": [
					  { "text": "Жиналған қауым жиырма-жиырмадан шоғырланды.", "isCorrect": true },
					  { "text": "Бұл - бір жарым мың жыл бұрын болған оқиға.", "isCorrect": false },
					  { "text": "Отынды екеулеп тасыдық.", "isCorrect": false },
					  { "text": "Оныншы болып ол да тізімге ілікті.", "isCorrect": false },
					  { "text": "Кең жазықта мыңдағав әскер сап түзеді.", "isCorrect": false }
					]
				  },
				  {
					"question": "Өзгелік етіс қатысқан сөйлем қайсы?",
					"variants": [
					  { "text": "Алыстағы ұлына хат жазғызды.", "isCorrect": true },
					  { "text": "Қонақтар тойға кешігіп келді.", "isCorrect": false },
					  { "text": "Жомартқа айтсаң, ол жылдам бітірер едің.", "isCorrect": false },
					  { "text": "Ол маған мүлдем сенбейді.", "isCorrect": false },
					  { "text": "Оқушылар колхоз астығын жинасты.", "isCorrect": false }
					]
				  },
				  {
					"question": "Мақсат үстеулі тіркесті көрсетіңіз.",
					"variants": [
					  { "text": "Қасақана тиісті", "isCorrect": true },
					  { "text": "Зорға қозғалады", "isCorrect": false },
					  { "text": "Үдей соқты", "isCorrect": false },
					  { "text": "Тез қимылдады", "isCorrect": false },
					  { "text": "Әрқашан біргеміз", "isCorrect": false }
					]
				  },
				  {
					"question": "Іс-әрекеттің үш жаққа қатысты орындалатынын білдіретін рай түрі қалай аталады?",
					"variants": [
					  { "text": "Ашық рай", "isCorrect": true },
					  { "text": "Қалау рай", "isCorrect": false },
					  { "text": "Шартты рай", "isCorrect": false },
					  { "text": "Бұйрық рай", "isCorrect": false },
					  { "text": "Негізгі түбір етістік", "isCorrect": false }
					]
				  },
				  {
					"question": "Есім секілді түрленіп, сөйлемде есімніңде , етістіктің де қызметін атқаратын етістіктің ерекше түрі қайсы?",
					"variants": [
					  { "text": "Есімше", "isCorrect": true },
					  { "text": "Шақ", "isCorrect": false },
					  { "text": "Жақ", "isCorrect": false },
					  { "text": "Рай", "isCorrect": false },
					  { "text": "Көсемше", "isCorrect": false }
					]
				  },
				  {
					"question": "Іс-қимылдың бірнеше субъекті арқылы іске асатынын білдіретін етістіктің қай түрі?",
					"variants": [
					  { "text": "Ортақ етіс", "isCorrect": true },
					  { "text": "Өзгелік етіс", "isCorrect": false },
					  { "text": "Өздік етіс", "isCorrect": false },
					  { "text": "Ырықсыз етіс", "isCorrect": false },
					  { "text": "Туынды түбір", "isCorrect": false }
					]
				  },
				  {
					"question": "Қимыл, іс-әрекеттің субъектіге қарай бағытталғандығын білдіріп, сабақты етістіктерден -ын, -ін, -н жұрнақтарының жалғануы арқылы жасалатын етістің қай түрі?",
					"variants": [
					  { "text": "Өздік етіс", "isCorrect": true },
					  { "text": "Өзгедлік етіс", "isCorrect": false },
					  { "text": "Ырықсыз етіс", "isCorrect": false },
					  { "text": "Ортақ етіс", "isCorrect": false },
					  { "text": "Туынды түбір", "isCorrect": false }
					]
				  },
				  {
					"question": "Жіктік жалғаулы көсемшені белгілеңіз.",
					"variants": [
					  { "text": "Сен айтыпсың", "isCorrect": true },
					  { "text": "Менің оқушым", "isCorrect": false },
					  { "text": "Мен оқушымын", "isCorrect": false },
					  { "text": "Оның айтқаны болды", "isCorrect": false },
					  { "text": "Ол жақсы орындады", "isCorrect": false }
					]
				  },
				  {
					"question": "Ауыспалы осы шақта төрған сөзді көрсетіңіз.",
					"variants": [
					  { "text": "Ол ерте тұрады.", "isCorrect": true },
					  { "text": "Лагеръге бармақ.", "isCorrect": false },
					  { "text": "Сен қайда бара жатырсың?", "isCorrect": false },
					  { "text": "Әңгіме айтты.", "isCorrect": false },
					  { "text": "Мен ертең келермін.", "isCorrect": false }
					]
				  },
				  {
					"question": "Салт етістік қатысқан сөйлем қайсы?",
					"variants": [
					  { "text": "Әсем сылқ-сылқ күлді.", "isCorrect": true },
					  { "text": "Дәкен қария шаршап-шалдығу дегенді білмейді екен.", "isCorrect": false },
					  { "text": "Үлкен кісімен сөйлескенде қолыңды қалтаға салып тұрма.", "isCorrect": false },
					  { "text": "Ол кино көрді.", "isCorrect": false },
					  { "text": "Мылды бақсаң, қойды бақ, май кетпейді шарадан", "isCorrect": false }
					]
				  },



				  {
					"question": "Мекен үстеулі сөйлемді анықтаңыз.",
					"variants": [
					  { "text": "Қыз ілгері қарай алмады.", "isCorrect": true },
					  { "text": "Еламан өз бөлмесіне барып жатып қалды.", "isCorrect": false },
					  { "text": "Кешегі төбелестен кейін оны көргісі келмеді.", "isCorrect": false },
					  { "text": "Ақбала жаққа көз қиығын тастады.", "isCorrect": false },
					  { "text": "Біздің ішіміздегі жалғыз қазақсың.", "isCorrect": false }
					]
				  },
				  {
					"question": "Зат есімнен сын есім жасап тұрған жұрнақты көрсетіңіз.",
					"variants": [
					  { "text": "Малды ауыл", "isCorrect": true },
					  { "text": "Баспахана үйі", "isCorrect": false },
					  { "text": "Биіктеу тау", "isCorrect": false },
					  { "text": "Кішкене төбешік", "isCorrect": false },
					  { "text": "Көкшіл мата", "isCorrect": false }
					]
				  },
				  {
					"question": "Сөз түрлендіруші жұрнаққа тән белгі.",
					"variants": [
					  { "text": "Сөзге грамматикалық мән үстейді", "isCorrect": true },
					  { "text": "Сөзге лексикалық мән үстейді", "isCorrect": false },
					  { "text": "Жаңа сөз тудырады", "isCorrect": false },
					  { "text": "Ешқандай мән үстемейді", "isCorrect": false },
					  { "text": "Сөзге әрі лексикалық, әрі грамматикалық мән үстейді", "isCorrect": false }
					]
				  },
				  {
					"question": "Қатыстық сын есімді көрсетіңіз.",
					"variants": [
					  { "text": "Қысқы, басыңқы", "isCorrect": true },
					  { "text": "Бермес, назар", "isCorrect": false },
					  { "text": "Гүлге, ерге", "isCorrect": false },
					  { "text": "Кеше, бүгін", "isCorrect": false },
					  { "text": "Оның, маған", "isCorrect": false }
					]
				  },
				  {
					"question": "\"Тіл-құрал \" еңбегінің авторы кім?",
					"variants": [
					  { "text": "А.Байтұрсынов", "isCorrect": true },
					  { "text": "Қ.Жұбанов", "isCorrect": false },
					  { "text": "Ы.Маманов", "isCorrect": false },
					  { "text": "А.Ысқақов", "isCorrect": false },
					  { "text": "А.Ибатов", "isCorrect": false }
					]
				  },
				  {
					"question": "Жалпы есім?",
					"variants": [
					  { "text": "Бір түрлі көп заттың  атауы", "isCorrect": true },
					  { "text": "Бір түрлі көп заттың жеке аты", "isCorrect": false },
					  { "text": "Көзбен көріп, қолмен ұстауға болатын зат есім", "isCorrect": false },
					  { "text": "Оймен танылатын зат есім атауы", "isCorrect": false },
					  { "text": "Жер-су атаулары", "isCorrect": false }
					]
				  },
				  {
					"question": "Қатыстық сын есім дегеніміз не?",
					"variants": [
					  { "text": "Шырай арқылы түрлене алмайтын сын есім", "isCorrect": true },
					  { "text": "Шырай арқылы түрлене алатын сын есім", "isCorrect": false },
					  { "text": "Сын есімнің заттық мағынаға ие болуы", "isCorrect": false },
					  { "text": "Заттың сынын білдіреді", "isCorrect": false },
					  { "text": "Іс-әрекет, қимылдың сынын білдіреді", "isCorrect": false }
					]
				  }
				]
			);

			const shuffleArray = (array) => {
              return array.sort(() => Math.random() - 0.5);
            };

			const shuffleVariantsInQuestions = (questions) => {
              return questions.map(question => ({
                ...question,
                variants: shuffleArray([...question.variants])
              }));
            };
			
             const getRandomQuestions = () => {
              const shuffledQuestions = [...allQuestions.value].sort(() => Math.random() - 0.5);
              return shuffleVariantsInQuestions(shuffledQuestions.slice(0, 30));
            };
			
            const questions = ref(getRandomQuestions());

            const currentQuestionIndex = ref(0);
            const correctAnswers = ref(0);
            const incorrectAnswers = ref(0);
            const results = ref([]);

            const checkAnswer = (variant, index) => {
              const selectedVariants = questions.value[currentQuestionIndex.value].variants.map((v, idx) => ({
                ...v,
                selected: idx === index
              }));
			  
              const correctVariant = questions.value[currentQuestionIndex.value].variants.find(v => v.isCorrect);
			  
              results.value.push({
                question: questions.value[currentQuestionIndex.value].question,
                variants: selectedVariants,
                isCorrect: variant.isCorrect,
                correctAnswer: correctVariant.text
              });

              if (variant.isCorrect) {
                correctAnswers.value++;
              } else {
                incorrectAnswers.value++;
              }

              currentQuestionIndex.value++;
            };

            return {
              questions,
              currentQuestionIndex,
              correctAnswers,
              incorrectAnswers,
              results,
              checkAnswer
            };
          }
        }).mount('#app');
    </script>
</body>
</html>
