<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <div v-if="isLoading">
            <h1 class="question">Сұрақтар жүктелуде...</h1>
        </div>

        <div class="container" v-else>
            <div v-if="currentQuestionIndex < questions.length">
                <h1 class="question">{{ questions[currentQuestionIndex].question }}</h1>
                <div class="btn-container">
                    <div v-for="(variant, index) in questions[currentQuestionIndex].variants" :key="index">
                        <button class="answer-btn" @click="checkAnswer(variant, index)">
                            {{ variant.text }}
                        </button>
                    </div>
                </div>
            </div>
            <div v-else>
                <div class="result-container">
                    <h2 class="result-text">Результаты</h2>
                    <div class="result-counter">
                        <p style="color: lime;">Правильных ответов: {{ correctAnswers }}</p>
                        <p style="color: red;">Неправильных ответов: {{ incorrectAnswers }}</p>
                    </div>
                    
                    <h3 class="result-text">Подробные результаты:</h3>
                    <div class="question-container" v-for="(result, index) in results" :key="index">
                        <div class="question-top">
                            <p><strong>Вопрос №{{index + 1}}:</strong> {{ result.question }}</p>
                        </div>
                        <div class="answer-top" v-for="(variant, idx) in result.variants" :key="idx" 
                             :class="{'correct': variant.isCorrect && variant.selected, 'incorrect': !variant.isCorrect && variant.selected}">
                            <p>{{ variant.text }}</p>
                        </div>
                        <div class="answer-top correct">
                            <p v-if="!result.isCorrect">Правильный ответ: <b>{{ result.correctAnswer }}</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="app.js"></script>
</body>
</html>